flow.json
[{"id":"e706552e.8e7598","type":"tab","label":"Data Flow","disabled":false,"info":""},{"id":"c8a41f77.f11dc8","type":"tab","label":"Processing Flow","disabled":false,"info":""},{"id":"b4c12499.e24be8","type":"tab","label":"Power Flow","disabled":false,"info":""},{"id":"cd05239.07983e","type":"tab","label":"Heating Flow","disabled":false,"info":""},{"id":"99c3955f.cac998","type":"tab","label":"Control Flow","disabled":false,"info":""},{"id":"ccb5dff6.df673","type":"tab","label":"Storage Flow","disabled":false,"info":""},{"id":"a408c5e8.03f928","type":"leveldbase","z":"","db":"/var/lib/home-daq"},{"id":"ed5db887.e16c68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"fb5aae98.2fb9b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"756dc383.89d9fc","type":"mqtt-broker","z":"","name":"Local Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42a7cb2d.d14244","type":"ui_group","z":"","name":"Left Pane","tab":"ed5db887.e16c68","order":1,"disp":false,"width":"9","collapse":false},{"id":"d94ab3f2.14d83","type":"ui_tab","z":"","name":"Power","icon":"dashboard","order":3},{"id":"6d0bd70b.542fc8","type":"ui_group","z":"","name":"Chart","tab":"d94ab3f2.14d83","order":1,"disp":false,"width":"12","collapse":false},{"id":"f7596d45.9fa32","type":"ui_tab","z":"","name":"Heater","icon":"dashboard","order":2},{"id":"f4112821.3958b8","type":"ui_group","z":"","name":"Chart","tab":"f7596d45.9fa32","order":1,"disp":false,"width":"12","collapse":false},{"id":"5b3b9a67.a875ac","type":"ui_group","z":"","name":"Right Pane","tab":"ed5db887.e16c68","order":2,"disp":false,"width":"4","collapse":false},{"id":"c4dae00f.8b74f","type":"ui_chart","z":"b4c12499.e24be8","name":"Power Chart","group":"6d0bd70b.542fc8","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":100,"wires":[[],[]]},{"id":"afbec2ac.f7c0d","type":"debug","z":"ccb5dff6.df673","name":"Debug storage","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":140,"wires":[]},{"id":"eab8ea16.98dd48","type":"leveldb out","z":"ccb5dff6.df673","level":"a408c5e8.03f928","operation":"store","name":"Data store","x":610,"y":60,"wires":[]},{"id":"1aa037c1.40d478","type":"function","z":"ccb5dff6.df673","name":"Format key/value for store","func":"if (msg.timestamp) {\n    return {\n        topic: msg.topic.split('/').concat(msg.timestamp).join('!'),\n        payload: `${ msg.payload }${ msg.units ? ` ${ msg.units }` : '' }`,\n    };\n}\n\nreturn null;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["afbec2ac.f7c0d","eab8ea16.98dd48"]]},{"id":"309e9435.990a7c","type":"link in","z":"ccb5dff6.df673","name":"Storage flow link","links":["57162fef.311ac","bcc95ee0.41b448"],"x":155,"y":60,"wires":[["1aa037c1.40d478"]]},{"id":"3f949c6f.d884c4","type":"function","z":"e706552e.8e7598","name":"Parse mqtt data","func":"const moment = global.get('moment');\n\nconst parts = msg.payload.split(/\\s+/);\nconst timestamp = /^\\d{4}-\\d{2}-\\d{2}T/.test(parts[0]) && parts.shift();\n\nmsg.payload = /^\\d/.test(parts[0]) ? parseFloat(parts[0]) : parts[0];\nmsg.units = parts[1] || '';\nmsg.timestamp = moment(/* timestamp || {} */).toISOString();\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["57162fef.311ac"]]},{"id":"931f7992.528528","type":"mqtt in","z":"e706552e.8e7598","name":"MQTT data subscription","topic":"data/#","qos":"2","broker":"756dc383.89d9fc","x":180,"y":80,"wires":[["3f949c6f.d884c4","6fbb40f4.41096"]]},{"id":"57162fef.311ac","type":"link out","z":"e706552e.8e7598","name":"Data flow link","links":["309e9435.990a7c","3188d19.2b5962e","51dd0320.03df3c","5b4eac83.2c5794","f3d4e73a.558898"],"x":715,"y":240,"wires":[]},{"id":"e7634482.e14158","type":"inject","z":"b4c12499.e24be8","name":"Reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":40,"wires":[["c4dae00f.8b74f"]]},{"id":"a0842597.96c4b8","type":"mapper","z":"b4c12499.e24be8","name":"Map series","property":"topic","map":[{"search":"data/load/instant_power","replace":"Power to Home"},{"search":"data/site/instant_power","replace":"Power from Grid"},{"search":"data/solar/instant_power","replace":"Power from Solar"},{"search":"data/battery/instant_power","replace":"Power from Battery"}],"passthrough":false,"x":610,"y":100,"wires":[["c4dae00f.8b74f"]]},{"id":"e15f8dc4.6cd24","type":"ui_gauge","z":"b4c12499.e24be8","name":"Charge Level","group":"42a7cb2d.d14244","order":4,"width":"3","height":"2","gtype":"wave","title":"Battery","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"","seg2":"","x":610,"y":360,"wires":[]},{"id":"6ba478b6.c8f998","type":"ui_gauge","z":"b4c12499.e24be8","name":"Solar Gauge","group":"42a7cb2d.d14244","order":2,"width":"3","height":"3","gtype":"gage","title":"Solar","label":"Watts","format":"{{value | number:0}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":240,"wires":[]},{"id":"fa6fb34a.773e4","type":"switch","z":"b4c12499.e24be8","name":"Split data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data/load/instant_power","vt":"str"},{"t":"eq","v":"data/site/instant_power","vt":"str"},{"t":"eq","v":"data/solar/instant_power","vt":"str"},{"t":"eq","v":"data/battery/instant_power","vt":"str"},{"t":"eq","v":"data/battery/state_of_energy","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":300,"y":140,"wires":[["a0842597.96c4b8"],["a0842597.96c4b8","fb302579.b8cc08"],["6ba478b6.c8f998","a0842597.96c4b8"],["7c162c73.082c94","a0842597.96c4b8"],["e15f8dc4.6cd24"]],"outputLabels":["Power to Home","Power from Grid","Power from Solar","Power from Battery","Battery Charge Level"]},{"id":"7c162c73.082c94","type":"ui_gauge","z":"b4c12499.e24be8","name":"Battery Gauge","group":"42a7cb2d.d14244","order":3,"width":"3","height":"3","gtype":"gage","title":"Battery","label":"Watts","format":"{{value | number:0}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":300,"wires":[]},{"id":"5b4eac83.2c5794","type":"link in","z":"b4c12499.e24be8","name":"Power flow link","links":["57162fef.311ac","bcc95ee0.41b448"],"x":155,"y":60,"wires":[["fa6fb34a.773e4"]]},{"id":"1d6a7c26.fd4bd4","type":"http request","z":"e706552e.8e7598","name":"Fetch meter data","method":"GET","ret":"obj","url":"192.168.11.130/api/meters/aggregates","tls":"","x":170,"y":320,"wires":[["1b77bc9a.07fec3"]]},{"id":"e85f1fd3.7e9fe","type":"inject","z":"e706552e.8e7598","name":"Query interval","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":160,"y":240,"wires":[["1d6a7c26.fd4bd4","b1e7d104.993d3"]]},{"id":"1b77bc9a.07fec3","type":"function","z":"e706552e.8e7598","name":"Parse meter data","func":"const moment = global.get('moment');\n\nconst messages = [];\n\n['load', 'site', 'solar', 'battery'].forEach(meter => {\n    const payload = msg.payload[meter] || {};\n    const timestamp = moment(payload.last_communication_time || {}).toISOString();\n    \n    if ('instant_power' in payload) {\n        messages.push({\n            topic: `data/${ meter }/instant_power`,\n            payload: parseFloat(payload.instant_power),\n            units: 'W',\n            timestamp,\n        });\n    }\n});\n\nreturn [messages];","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["57162fef.311ac"]]},{"id":"b1e7d104.993d3","type":"http request","z":"e706552e.8e7598","name":"Fetch battery data","method":"GET","ret":"obj","url":"192.168.11.130/api/system_status/soe","tls":"","x":170,"y":400,"wires":[["a2677bf0.4dda48"]]},{"id":"a2677bf0.4dda48","type":"function","z":"e706552e.8e7598","name":"Parse battery data","func":"const moment = global.get('moment');\n\nif ('percentage' in msg.payload) {\n    return {\n        topic: `data/battery/state_of_energy`,\n        payload: parseFloat(msg.payload.percentage),\n        units: '%',\n        timestamp: moment().toISOString(),\n    };\n}\n\nreturn null;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["57162fef.311ac"]]},{"id":"351831d3.54e0be","type":"ui_chart","z":"cd05239.07983e","name":"Heating Chart","group":"f4112821.3958b8","order":1,"width":"0","height":"0","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":100,"wires":[[],[]]},{"id":"68ba46b7.8cee58","type":"inject","z":"cd05239.07983e","name":"Reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":630,"y":40,"wires":[["351831d3.54e0be"]]},{"id":"db5f372.918b5c8","type":"mapper","z":"cd05239.07983e","name":"Map series","property":"topic","map":[{"search":"data/28FFFEB963160428/temperature","replace":"Heater Supply"},{"search":"data/28FF17D063160402/temperature","replace":"Heater Return"},{"search":"data/28FFEA8B641603FD/temperature","replace":"Heat Loop Supply"},{"search":"data/28FFA2E8631604CB/temperature","replace":"Heat Loop Return"},{"search":"data/28FF2B70641603F7/temperature","replace":"House Loop Supply"},{"search":"data/28FF3F71631604E2/temperature","replace":"House Loop Return"},{"search":"data/28FFB48464160350/temperature","replace":"HW Heater Loop Supply"},{"search":"data/28FFC4226416039D/temperature","replace":"HW Heater Loop Return"},{"search":"data/28FF0F08641603A4/temperature","replace":"HW Heater Cold"},{"search":"data/28FF71C563160436/temperature","replace":"HW Heater Hot"}],"passthrough":false,"x":610,"y":100,"wires":[["351831d3.54e0be"]]},{"id":"842d27ab.1c6158","type":"switch","z":"cd05239.07983e","name":"Split data","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data/28FFFEB963160428/temperature","vt":"str"},{"t":"eq","v":"data/28FF17D063160402/temperature","vt":"str"},{"t":"eq","v":"data/28FFEA8B641603FD/temperature","vt":"str"},{"t":"eq","v":"data/28FFA2E8631604CB/temperature","vt":"str"},{"t":"eq","v":"data/28FF2B70641603F7/temperature","vt":"str"},{"t":"eq","v":"data/28FF3F71631604E2/temperature","vt":"str"},{"t":"eq","v":"data/28FFB48464160350/temperature","vt":"str"},{"t":"eq","v":"data/28FFC4226416039D/temperature","vt":"str"},{"t":"eq","v":"data/heating/hot_water_remaining","vt":"str"},{"t":"eq","v":"data/heating_logger/status","vt":"str"},{"t":"eq","v":"data/heating_logger/battery_voltage","vt":"str"},{"t":"eq","v":"data/heating_logger/ambient_temperature","vt":"str"},{"t":"eq","v":"data/heating_logger/ambient_humidity","vt":"str"},{"t":"eq","v":"data/heating_logger/heater_state","vt":"str"}],"checkall":"false","repair":false,"outputs":14,"x":300,"y":140,"wires":[["db5f372.918b5c8"],["db5f372.918b5c8"],["db5f372.918b5c8"],["db5f372.918b5c8"],["db5f372.918b5c8"],["db5f372.918b5c8"],["db5f372.918b5c8"],["db5f372.918b5c8"],["54db0151.a7b74"],["55f6e81e.fa6538"],[],["8eefe729.2ed1f8"],["6c8f7692.0a10c8"],["41c6ed28.573454","a7f19a2d.69d5f8","d1dfa18.30d0d6"]],"outputLabels":["Heater Supply","Heater Return","Heat Loop Supply","Heat Loop Return","House Loop Supply","House Loop Return","HW Heater Loop Supply","HW Heater Loop Return","HW Remaining","Heating Logger Status","Battery Voltage","Ambient Temperature","Ambient Humidity","Heating State"]},{"id":"51dd0320.03df3c","type":"link in","z":"cd05239.07983e","name":"Heating flow link","links":["57162fef.311ac","bcc95ee0.41b448"],"x":155,"y":60,"wires":[["842d27ab.1c6158"]]},{"id":"54db0151.a7b74","type":"ui_gauge","z":"cd05239.07983e","name":"Hot Water Level","group":"42a7cb2d.d14244","order":5,"width":"3","height":"2","gtype":"wave","title":"Hot Water","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":160,"wires":[]},{"id":"fb302579.b8cc08","type":"ui_gauge","z":"b4c12499.e24be8","name":"Grid Gauge","group":"42a7cb2d.d14244","order":1,"width":"3","height":"3","gtype":"gage","title":"Grid","label":"Watts","format":"{{value | number:0}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":180,"wires":[]},{"id":"3188d19.2b5962e","type":"link in","z":"c8a41f77.f11dc8","name":"Processing flow link","links":["57162fef.311ac"],"x":155,"y":60,"wires":[["9dde90b1.499b18"]]},{"id":"bcc95ee0.41b448","type":"link out","z":"c8a41f77.f11dc8","name":"Processing output link","links":["309e9435.990a7c","51dd0320.03df3c","5b4eac83.2c5794","f3d4e73a.558898"],"x":655,"y":60,"wires":[]},{"id":"9dde90b1.499b18","type":"function","z":"c8a41f77.f11dc8","name":"Calculate hot water remaining","func":"const moment = global.get('moment');\n\nconst min = context.get('minimum');\nconst max = context.get('maximum');\n\nswitch (msg.topic) {\n    case 'data/28FF0F08641603A4/temperature':\n        if (!min || msg.payload < min.value || moment().subtract(12, 'hours').isAfter(min.timestamp)) {\n            context.set('minimum', {\n                timestamp: msg.timestamp,\n                value: msg.payload,\n            });\n        }\n        \n        break;\n        \n    case 'data/28FF71C563160436/temperature':\n        if (!max || msg.payload > max.value || moment().subtract(1, 'hour').isAfter(max.timestamp)) {\n            context.set('maximum', {\n                timestamp: msg.timestamp,\n                value: msg.payload,\n            });\n            \n            return {\n                topic: 'data/heating/hot_water_remaining',                \n                payload: 100,\n                timestamp: msg.timestamp,\n                units: '%',\n            };\n        }\n        \n        if (min && max) {\n            return {\n                topic: 'data/heating/hot_water_remaining',\n                payload: (msg.payload - min.value) / (max.value - min.value) * 100,\n                timestamp: msg.timestamp,\n                units: '%',\n            };\n        }\n        \n        break;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["bcc95ee0.41b448"]]},{"id":"fb2a5028.e6f1c","type":"mqtt out","z":"99c3955f.cac998","name":"MQTT publish","topic":"","qos":"","retain":"","broker":"756dc383.89d9fc","x":620,"y":60,"wires":[]},{"id":"7e55ac8b.03e344","type":"link in","z":"99c3955f.cac998","name":"Control flow link","links":["5cb7ba1e.0f1844"],"x":155,"y":60,"wires":[["fb2a5028.e6f1c","97ded097.cf15"]]},{"id":"97ded097.cf15","type":"debug","z":"99c3955f.cac998","name":"Debug control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":140,"wires":[]},{"id":"41c6ed28.573454","type":"ui_switch","z":"cd05239.07983e","name":"Heating Switch","label":"&nbsp;Heating","group":"5b3b9a67.a875ac","order":4,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"control/heating_logger/heater_state","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":620,"y":420,"wires":[["a7f19a2d.69d5f8"]]},{"id":"5cb7ba1e.0f1844","type":"link out","z":"cd05239.07983e","name":"Heating control link","links":["7e55ac8b.03e344"],"x":775,"y":500,"wires":[]},{"id":"4308acaf.1b9894","type":"leveldb stream","z":"ccb5dff6.df673","level":"a408c5e8.03f928","name":"Query store","x":510,"y":260,"wires":[["305feaf3.b25de6"]]},{"id":"c8704ead.d4c33","type":"http in","z":"ccb5dff6.df673","name":"Data API","url":"/api/data/*","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["71ecf340.76b74c"]]},{"id":"4d7444aa.0e6bac","type":"http response","z":"ccb5dff6.df673","name":"API response","statusCode":"","headers":{"content-type":"application/json"},"x":1080,"y":260,"wires":[]},{"id":"71ecf340.76b74c","type":"function","z":"ccb5dff6.df673","name":"Format query","func":"const topic = msg.req.path.slice(5).replace(/\\//g, '!');\nconst options = msg.req.query || {};\n\nmsg.query = {\n    gte: `${ topic }!${ options.start || '' }`,\n    lte: `${ topic }!${ options.end || '\\xff' }`,\n    limit: 1000,\n    reverse: true,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["4308acaf.1b9894"]]},{"id":"bb210ea1.d477","type":"join","z":"ccb5dff6.df673","name":"","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":260,"wires":[["4d7444aa.0e6bac"]]},{"id":"305feaf3.b25de6","type":"function","z":"ccb5dff6.df673","name":"Format result","func":"const timestamp = msg.topic.split('!').pop();\n\nmsg.payload = {\n    timestamp,\n    value: msg.payload,\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":260,"wires":[["bb210ea1.d477"]]},{"id":"6fbb40f4.41096","type":"debug","z":"e706552e.8e7598","name":"Debug data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":160,"wires":[]},{"id":"55f6e81e.fa6538","type":"ui_text","z":"cd05239.07983e","group":"5b3b9a67.a875ac","order":1,"width":"0","height":"0","name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":220,"wires":[]},{"id":"8eefe729.2ed1f8","type":"ui_text","z":"cd05239.07983e","group":"5b3b9a67.a875ac","order":2,"width":"0","height":"0","name":"Temperature","label":"Temperature","format":"{{msg.payload | number:1}} F","layout":"row-spread","x":610,"y":280,"wires":[]},{"id":"6c8f7692.0a10c8","type":"ui_text","z":"cd05239.07983e","group":"5b3b9a67.a875ac","order":3,"width":"0","height":"0","name":"Humidity","label":"Humidity","format":"{{msg.payload | number:1}} %","layout":"row-spread","x":600,"y":340,"wires":[]},{"id":"a7f19a2d.69d5f8","type":"function","z":"cd05239.07983e","name":"Heating Control","func":"switch (msg.topic) {\n    case 'control/heating_logger/heater_state':\n        clearTimeout(context.get('timer'));\n        \n        context.set('state', msg.payload);\n        \n        return msg;\n        \n    case 'data/heating_logger/heater_state':\n        clearTimeout(context.get('timer'));\n        \n        const state = context.get('state');\n        \n        if (state && msg.payload !== state) {\n            context.set('timer', setTimeout(() => {\n                node.send({\n                    topic: 'control/heating_logger/heater_state',                \n                    payload: state,\n                });\n            }, 30000));\n        }\n        \n        break;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["5cb7ba1e.0f1844"]]},{"id":"d1dfa18.30d0d6","type":"debug","z":"cd05239.07983e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":580,"wires":[]}]